/* Barra de Navegación - Nav */
body {
  margin: 0;
  padding: 0;
  font-family: "Slabo 27px", serif;
}

nav {
  height: 70px;
  background-color: rgb(50, 50, 50);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-logo > img,
#who-logo > img {
  width: 50px;
  margin-left: 30px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

a {
  color: orangered;
  text-decoration: none;
}

/* SOLO PARA MENU EN MOBILE */
.mobile-menu {
  display: none;
}

.fas.fa-bars {
  font-size: 40px;
  color: orangered;
  margin-right: 30px;
}

/* FIN MENU MOBILE */

li {
  list-style-type: none;
  padding-left: 20px;
  color: orangered;
}

/* Imagen principal - Header  */

header {
  display: flex;
  justify-content: center;
}

#banner > img {
  width: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Sección "¿Qué somos?" - Main */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
}

.who {
  width: 600px;
  margin-left: 50px;
}

.who h1 {
  color: orangered;
  font-size: 18pt;
  font-weight: 100;
  margin-bottom: 0;
}

.who p {
  font-size: 10pt;
  margin-top: 5px;
}

.who-social {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.social-icon {
  padding: 10px;
}

.fab.fa-linkedin,
.fab.fa-github,
.fab.fa-facebook-square,
.fab.fa-instagram,
.fab.fa-twitter-square {
  font-size: 20px;
  color: orangered;
}
/* Sección de las caritas - cards */

.pd-mobile-name {
  display: none;
}

.pd-mobile-job {
  display: none;
}

.cards-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 300px;
  margin: 20px;
  align-items: center;
}

.propic {
  width: 120px;
  height: 120px;
}

.propic > img {
  width: 100%;
  height: auto;
}

.profile-details {
  font-size: 10pt;
  text-align: center;
  width: 150px;
  margin-left: 30px;
  color: orangered;
}

/* Footer: Contacto y links de social media*/

footer {
  background-color: rgb(50, 50, 50);
  color: orangered;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacto {
  display: flex;
  margin-left: 30px;
}

.mail-logo {
  align-self: center;
}

.fas.fa-envelope {
  font-size: 20px;
  color: orangered;
}

.mail-logo > img {
  width: 100%;
  height: auto;
}

.contacto > p {
  margin-left: 20px;
  font-size: 10pt;
}

.social-media {
  display: flex;
  margin-right: 30px;
}

/* DISEÑO RESPONSIVE con @mediaquery */

@media (max-width: 600px) {
  /* MOBILE: Barra de Navegación - Nav  */

  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }

  #banner {
    margin-top: 30px;
  }

  #banner > img {
    width: 100vw;
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
  }

  /* MOBILE: Sección "¿Qué somos?" - Main */

  #who-logo {
    display: none;
  }

  .who {
    padding: 0 20px;
    margin-top: 0;
  }

  .who-social {
    display: none;
  }

  /* MOBILE: Sección de las caritas - cards  */

  .profile-details {
    display: none;
  }

  .cards-box {
    margin: 30px auto;
  }

  .card {
    flex-direction: column;
    margin-bottom: -30px;
    margin-top: -30px;
  }

  .pd-mobile-name {
    display: flex;
    position: relative;
    top: 25px;
    background-color: #ececec;
    border-radius: 15%;
    padding: 10px;
  }

  .pd-mobile-job {
    display: flex;
    position: relative;
    bottom: 30px;
    background-color: #ececec;
    border-radius: 15%;
    padding: 10px;
  }

  /* MOBILE Footer: Contacto y links de social media*/

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contacto {
    margin: 0;
  }

  .social-media {
    align-items: center;
    margin: 0;
  }
}
